.announcement {
    width: 640px;
    height: 200px;
    padding: 5px;
    overflow-y: scroll;
    border-radius: 8px ;
    box-shadow:1px 1px 6px black ;
}


.announcement p{
   margin-left: 25px;
    line-height: 10px;
}
.announcement p:first-child {
    color: #3A87AD; /* heading color */
  
}

.announcement::-webkit-scrollbar {
    width: 5px; /* scroll bar width */
}

.announcement::-webkit-scrollbar-track {
    background: #F5F5F5; /* scroll bar track background color */
}

.announcement::-webkit-scrollbar-thumb {
    background: #3A87AD; /* scroll bar thumb background color */
}

.announcement hr {
    border-color: #3A87AD; /* line color */
    line-height: 2px !important;
}

.heading-a{
        height:20px;
        width: 100%;
        border: 1px solid red;
}

.announcement-heading{
    height: 30px;
    color: white;
    background: #3A87AD;
}

.icon {
    margin-right: 10px;
}