.navbarbg {
  background: #000 !important;
  color: white !important;
}

.navbar-nav{
  /* border: 1px solid white; */
  margin-left: 50px;
}

.nav-item{
  /* border: 1px solid white; */
  padding: 0px;
}
.nav-item a {
  color: white !important;
}
.link {
  text-decoration: none;
  color: inherit;
}

.topRight{
  
  margin-right: 0px;
}
.topImg {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logoImg{


width: 100px;
height: 50px;

}
.dropdownbtn{

  border: none !important;
  background: black !important;
}